@model Monocept.Models.Employee

@{
    Layout = "_Layout";
}

<div class="d-flex justify-content-center mt-5">

    <div class="card shadow-sm" style="width: 420px;">

        <div class="card-body">

            <h4 class="text-center mb-3">Edit Employee</h4>
            <hr />

            <form method="post">

                <input type="hidden" name="EmployeeID" value="@Model.EmployeeID" />

                <div class="mb-3">
                    <label>Full Name</label>
                    <input name="FullName" value="@Model.FullName" class="form-control" />
                </div>

                <div class="mb-3">
                    <label>Email</label>
                    <input name="Email" value="@Model.Email" class="form-control" />
                </div>

                <div class="mb-3">
                    <label>Username</label>
                    <input name="Username" value="@Model.Username" class="form-control" />
                </div>

                <div class="mb-3">
                    <label>Role</label>
                    <input name="Role" value="@Model.Role" class="form-control" />
                </div>

                <button class="btn btn-warning w-100">Update</button>

            </form>

        </div>

    </div>

</div>